
# videos
videos/
*.mp4
*.png
*.jpg
*_matrix_file
qp_delta_size_file
*_encoder

# pycache
__pycache__/

# log files
*.log
runs/

# downloaded weights
*.pth

# results
results/
stats/

# cache
cache/
tmp/

# checkpoints
.ipynb_checkpoints

# temp mp4s
tmp/*
# Ignore dynaconf secret files
.secrets.*
